.editor-param {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.editor-toolbar {
    margin: 5px 0px;
}

.editor-param-title {
    font-size: 15px;
    font-weight: bold;
}

.editor-param-value {
    font-size: 14px;
}

.table-operation {
    font-size: 15px;
    margin: 0px 3px;
}

.user-status-active,
.user-status-blocked,
.user-status-waiting {
    padding: 5px 20px;
    border-radius: 10px;
}

.user-status-active {
    background-color: #009829;
    color: white;
}

.user-status-blocked {
    background-color: #980000;
    color: white;
}

.user-status-waiting {
    background-color: #efd40c;
    color: #33333f;
}
.review-status-active,
.review-status-blocked,
.review-status-waiting {
    padding: 5px 20px;
    border-radius: 10px;
}
.review-status-active {
    background-color: #009829;
    color: white;
}
.review-status-blocked {
    background-color: #980000;
    color: white;
}
.review-status-waiting {
    background-color: #efd40c;
    color: #33333f;
}
.toolbar {
    margin-bottom: 10px;
}

.users-list>li {
    position: relative;
}

.users-list>li .overlay {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.users-list>li:hover .overlay {
    opacity: 1;
}

.users-list>li:hover .overlay .btn {
    top: 0px;
}

.users-list>li .overlay .btn {
    position: absolute;
    left: 0px;
    top: -60px;
    height: 60px;
    transition: top 0.3s ease;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
    position: relative;
    top: 13px;
    left: 13px;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.info-box[status="0"] .info-box-icon {
    cursor: pointer;
}
.info-box[status="0"] .info-box-icon:hover {
    background-color: rgba(0,0,0,0.35);
}