body {
    background-color: #000000;
}
.site-wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e3a7c+0,000000+100 */
    background-color: #2e3a7c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2e3a7c 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2e3a7c 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2e3a7c 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3a7c', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    overflow: auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.modal-backdrop {
    z-index: auto;
}
.site-wrapper {
    padding-bottom: 51px;
}
@media(max-width:768px) {
    .site-wrapper {
        padding-bottom: 71px;
    }
}
.load-inline, .load-block, .load-inline-block {
    display: none;
}
.loading .load-inline {
    display: inline;
}
.loading .load-inline-block {
    display: inline-block;
}
.loading .load-block {
    display: block;
}
.loading .unload {
    display: none;
}
a {
    cursor: pointer;
}
.container{
    width: auto;
}
.bootstrap-switch {
    border: 1px solid transparent;
}
.st-padding {
    padding: 10px 20px;
}
.st-margin {
    margin: 20px 20px;
}
@media (min-width:768px){
    .container{
        max-width:750px;
    }
}
@media (min-width:992px){
    .container{
        max-width:970px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1170px;
    }
}
.verticalText {
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);  /* IE6,IE7 */
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1); /* IE8 */
}
nav.navbar .install-link {
    display: inline-block;
    padding: 7px;
}
@media (min-width: 768px) {
    nav.navbar .install-link {
        padding: 15px;
        padding-left: 50px;
    }
}
nav.main-top,
.sidebar,
.site-wrapper,
footer,
.sidebar-menu li a,
.templates .template-item .install-link,
.templates .template-item .thumb .view-link,
.templates .template-item .thumb,
.mainMenu li a,
.mainMenu li a .line,
.change-lang .lang,
.change-lang .lang img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
@media(max-width:768px) {
    .topLogo {
        margin-top: 10px;
    }
}
.hid {
    display: none;
}

textarea {
    resize: vertical;
}
.btn,
.btn:hover,
.btn:active,
.btn:focus {
    outline: none !important;
}
.logoSmall {
    background: url("/img/logo/logos-darkbg.png") no-repeat;
    background-size: 100% 100%;
}
.logoBig {

    background: url("/img/logo/logo-darkbg.png") no-repeat;
    background-size: 100% 100%;
}
.btn-box-tool,
.btn-box-tool:focus {
    padding: 0px;
    font-size:12px;
    background:transparent;
    color:#97a0b3
}
.btn-box-tool i.fa {
    padding: 5px;
}
.btn-box-tool.plmi i.fa-plus {
    display: none;
}
.btn-box-tool.plmi i.fa-minus {
    display: inline-block;
}
.collapsed .btn-box-tool.plmi i.fa-minus {
    display: none;
}
.collapsed .btn-box-tool.plmi i.fa-plus {
    display: inline-block;
}
.open .btn-box-tool,
.btn-box-tool:hover{
    color:#606c84
}
.btn-box-tool.btn:active{
    box-shadow:none
}
.modal {
    z-index: 10010;
}
.modal-open {
    overflow: auto;
}
.modal-footer.text-center {
    text-align: center;
}
.modal#loadingDialog {
    opacity: 0.6;
}
.modal#loadingDialog, .modal#loadingDialog * {
    background-color: #000000;
    border: none;
    box-shadow: none !important;
    outline: none;
    -webkit-box-shadow: none !important;
}
.modal#loadingDialog .modal-body {
    text-align: center;
}
.modal.wide .modal-dialog {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 25%;
    max-height: 50%;
}
#domainsDialog .row {
    margin-top: 10px;
}
#domainsDialog .fullName {
    font-weight: bold;
}
#domainsDialog .siteName {
    color: #AF119A;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid;
    padding: 4px 10px;
    display: inline-block;
}
.modal-body {
    overflow: hidden;
}
#alertDialog .modal-body,
#deleteDialog .modal-body,
#deleteDialog .modal-footer,
#setupDialog .modal-body,
#setupDialog .modal-footer {
    text-align: center;
}
#deleteDialog .modal-footer {
    padding: 4px;
}

#alertDialog.success {
    background-color: rgba(0, 255, 0, 0.57)
}
#alertDialog.error {
    background-color: rgba(255, 0, 0, 0.57)
}
#setupDialog input[name="name"] {
    margin: 0px auto;
}
.dialog-theme .modal-header {
    background-color: #FDD;
}
.dialog-theme .modal-header .header-text {
    color: #802600;
    font-size: 25px;
}
.dialog-theme input,
.dialog-theme button {
    border-radius: 0px;
}
.dialog-theme .dialogChangeLink {
    color: #3b9bff;
    text-decoration: none;
}
.dialog-theme .dialogChangeLink:hover {
    color: #215890;
}
.dialog-theme input.form-control {
    border: 1px solid #CCC;
}
.dialog-theme .btn-main,
.dialog-theme .btn-main:hover,
.dialog-theme .btn-main:focus,
.dialog-theme .btn-main:active {
    background-color: #01B56C;
    border: none;
}
.dialog-theme .btn-main:hover {
    background-color: #026A40;
}
.dialog-theme .form-group {
    margin-bottom: 10px;
}
.errMsg {
    text-align: left;
    padding: 5px;
    color: red;
}
#setupExpressDialog section {
    padding: 0px;
}
.dialog-theme.dialog-theme-1 .modal-header {
    background-color: #2B222A;
}
.dialog-theme.dialog-theme-1 .modal-header .header-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #BF46DD;
}
.dialog-theme.dialog-theme-1 .modal-body {
    background-color: #5E5E5E;
}
.dialog-theme.dialog-theme-1 input.form-control {
    background-color: #151515;
    color: white;
}
.dialog-theme.dialog-theme-1 .errMsg {
    color: #FF7676;
}
.dialog-theme.dialog-theme-1 .dialogChangeLink {
    color: #9B9B9B;
}
.dialog-theme.dialog-theme-1 .dialogChangeLink:hover {
    color: #c9c9c9;
}


/*templates*/
.templates .template-tab-link {
    text-transform: uppercase;
    color: #E2E2E2;
    font-size: 14px;
    font-weight: 300;
    background-color: #3C3C3C;
    padding: 3px 15px;
    margin-right: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
}
.templates .template-tab-link.active {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
}
.templates .tabs {
    overflow: hidden;
    margin-bottom: 20px;
}
.templates .template-tab-pane > .row {
    margin-bottom: 20px;
}
.templates .nextLink {
    height: 100%;
    background-color: #373737;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px auto 20px auto;
    text-decoration: none;
    color: #B5B5B5;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}
@media(min-width:768px) {
    .templates .template-tab-link:hover {
        background-color: #646464;
    }
    .templates .template-tab-link.active:hover {
        background-color: #d5d5d5;
    }
    .templates .nextLink:hover {
        background-color: #494949;
    }
}
@media(max-width:768px) {
    .templates .template-tab-link:active {
        background-color: #646464;
    }
    .templates .template-tab-link.active:active {
        background-color: #d5d5d5;
    }
    .templates .nextLink:active {
        background-color: #494949;
    }
}

.templates .template-item {
    position: relative;
    overflow: hidden;
    height: 200px;
    max-width: 300px;
    margin: 0px auto 20px auto;
}
.templates .template-item .thumb {
    position: relative;
    z-index: 112;
    text-align: center;
    height: 200px;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, .83);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .83);
}
.templates .template-item .thumb img {
    width: 100%;
    height: 100%;
}
.templates .template-item .thumb .view-link {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("/img/icons/icon1.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.templates .template-item .thumb:hover .view-link {
    opacity: 1;
    top: 50px;
}
.templates .template-item:hover .thumb {
    margin-top: -50px;
}
.templates .template-item .install-link {
    position: relative;
    z-index: 110;
    text-align: center;
    height: 50px;
    background-color: #9C00C5;
    color: #FFBAF6;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
}
.templates .template-item .install-link:hover {
    font-size: 26px;
    color: #f6f6f6;
}


/*sections*/
.section-header {
    margin: 20px auto;
}
.section-header span {
    position: relative;
    padding: 5px;
    display: inline-block;
}
.section-header span .line-top,
.section-header span .line-bottom {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    height: 1px;
    background-image: url("/img/header-line.png");
    background-size: 100% 100%;
}
.section-header span .line-top.dark,
.section-header span .line-bottom.dark {
    background-image: url("/img/header-line-dark.png");
}
.section-header span .line-top {
    top: 0px;
}
.section-header span .line-bottom {
    bottom: 0px;
}


/*payments section*/
.payments {
    background-color: #EAEAEA;
    padding: 0px 0px 20px 0px;
}
.payments .section-header span {
    font-size: 18px;
    color: #49473A;
    font-weight: 300;
}
.payments .cases {
}
.payments .cases .case {
    text-align: center;
    margin-bottom: 20px;
}
@media(min-width:768px) {
    .payments .cases .case {
        width: 20%;
        float: left;
    }
}

/*pricing tables*/
.pricing {
    background-color: #cecece;
    padding: 0px 0px 20px 0px;
}
.pricing .section-header span {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: 400;
}
.pricing-table {
    background-color: white;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
    z-index: 500;
}
.pricing-table.rec {
    margin: 5px 0px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .63);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .63);
    z-index: 501;
}
.pricing-table .header {
    background-color: #582145;
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 10px;
}
.pricing-table.left .header {
    background-color: #2F800A;
}
.pricing-table.left .pricing-price .value {
    color: #2F800A;
}
.pricing-condition-list {
    list-style-type: none;
    padding: 20px;
}
.pricing-condition-list li {
    color: #434a54;
    text-align: center;
    padding: 5px 0px;
}
.pricing-price {
    margin: 0px 30px;
    border-top: 1px solid #DFDFDF;
    padding: 20px;
}
.pricing-price .value {
    color: #434a54;
    font-size: 70px;
    text-align: center;
    line-height: 1;
}
.pricing-price .value .symbol {
    font-size: 30px;
}

.pricing-price .value-per {
    text-align: center;
    font-size: 20px;
    color: #cacaca;
}

.pricing-btn {
    text-align: center;
    padding: 20px;
    display: none;
}
.pricing-btn .btn {
    padding: 5px 40px;
}
@media(min-width:768px) {
    .pricing-table {
        float: left;
        width: 33.3%;
    }
    .pricing-table.left {
        border-radius: 5px 0px 0px 5px;
    }
    .pricing-table.right {
        border-radius: 0px 5px 5px 0px;
    }
    .pricing-table.rec {
        border-radius: 5px;
    }
}
@media(max-width:768px) {
    .pricing-table {
        border-radius: 5px;
    }
}


/*footer*/
footer {
    color: #D3D3D3;
    padding: 10px 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left:  0px;
    right: 0px;
    z-index: 900;
    border-top: 1px solid transparent;
}
footer .left a {
    text-decoration: none;
    color: #D3D3D3;
}
footer .left a:hover,
footer .left a:active {
    color: #999999;
}
footer .change-lang {
    display: inline-block;

}
@media(min-width:768px) {
    footer .left {
        text-align: left;
    }
    footer .right {
        text-align: right;
    }
}
@media(max-width:768px) {
    footer .left, footer .right {
        text-align: center;
    }
}

/*main navigation */
.site-wrapper {
    top: 69px;
}
.footer-sep .site-wrapper {
    bottom: 51px;
    padding-bottom: 0px;
}
@media(max-width:768px) {
    .site-wrapper {
        top: 50px;
    }
    .footer-sep .site-wrapper {
        bottom: 71px;
    }
}

/*nav.main-top,*/
footer {
    background-color: rgba(0, 0, 0, 0.7);
}
/*nav.main-top:hover,*/
.footer-sep footer,
footer:hover {
    background-color: rgba(0, 0, 0, 1);
    border-color: #3C3C3C;
}

nav.main-top{
    /*background-color: #000000;*/
    z-index: 900;
    height: 50px;
    margin: 0px;
}
.navbar-toggle .icon-bar{
    background-color: white;
    border-radius: 3px;
}
nav.main-top .logoSmall{
    width: 129px;
    height: 45px;
}
nav.main-top .nav > li > a {
    padding-top:15px;
    padding-bottom:15px;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu {
    background-color: #000000;
    border: none;
}
nav.main-top .nav.profile-nav .dropdown:hover {
    background-color: #2B2B2B;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu > li > a {
    color: #D2D2D2;
    padding: 7px 20px;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu > li.separator {
    display: block;
    height: 1px;
    background-color: #3E3E3E;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu > li > a:hover {
    color: #F5F5F5;
    background-color: #4C4C4C;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu > li.password > a {
    color: #AF5D74;
}
nav.main-top .nav.profile-nav .dropdown .dropdown-menu > li.password > a:hover {
    color: #ec6581;
}
nav.main-top .nav.profile-nav .header {
    color: #C4C4C4;
    padding-top: 15px;
    text-align: left;
}
nav.main-top .nav.profile-nav .header .email .fa {
    margin-left: 10px;
}
.navbar-toggle:active .icon-bar{
    background-color: #b4b4b4;
}
@media(max-width:768px) {
    .sidebar-exists nav.main-top .nav.profile-nav {
        margin-left: 40px
    }
}
@media(min-width:768px) {
    nav.main-top .nav.profile-nav .header {
        text-align: right;
    }
    nav.main-top .nav.profile-nav .header .balance .value {
        margin-right: 24px;
    }
}

.balance .value {
    margin-left: 5px;
    color: #379848;
}
.balance.zero .value {
    color: #98375A;
}
.balance .fa {
    color: #6F6F6F;
}

.topLogin a span.text,
.topRegister a span.text {
    border-radius: 20px;
    padding: 7px 20px;
    font-weight: 500;
    border: 2px solid;
    text-transform: uppercase;
}
.topLogin a span.text {
    color: green;
    border-color: green;
}

.topLogin a span.text:active {
    background-color: green;
    color: white;
}
.topRegister a span.text {
    color: #830094;
    border-color: #830094;
}
.topRegister a span.text:active {
    background-color: #830094;
    color: white;
}
.mainMenu li a{
    color: #C6C6C6;
    text-transform: uppercase;
}
.mainMenu li a .line {
    position: absolute;
}
.mainMenu li.active a .line {
    background-color: #9700B2;
}
.mainMenu li.active a {
    background-color: #383838;
}
@media(min-width:768px) {
    nav.main-top {
        height: 69px;
    }
    nav.main-top .nav > li {
        height: 69px;
    }
    .topRegister a span.text:hover {
        background-color: #830094;
        color: white;
    }
    .topLogin a span.text:hover {
        background-color: green;
        color: white;
    }
    nav.main-top .nav.profile-nav .header {
        padding-top: 15px;
    }
    nav.main-top .nav > li.topLogin > a,
    nav.main-top .nav > li.topRegister > a {
        padding: 25px 15px 10px 15px;
    }
    .main-top .navbar-brand {
        padding: 20px 15px 10px 15px;
    }
    .mainMenu li a {
        padding: 15px 15px 10px 15px;
        text-align: center;
    }
    .mainMenu li a .line {
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 3px;
    }
    .mainMenu li a i {
        display: block;
        margin-bottom: 5px;
    }
    .mainMenu li:not(.active) a:hover .line {
        background-color: #7b7b7b;
    }
    .mainMenu li:not(.active) a:hover {
        background-color: #2B2B2B;
    }
}
@media(max-width:768px) {
    .mainMenu li a i {
        margin-right: 10px;
    }
    .mainMenu li a .line {
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 3px;
    }
    .mainMenu li:not(.active) a:active .line {
        background-color: #7b7b7b;
    }
    .mainMenu li:not(.active) a:active {
        background-color: #2B2B2B;
    }
    #top-navbar {
        /*max-height: 250px;*/
        position: absolute;
        width: 100%;
        top: 100%;
        background-color: #000000;
    }
}


@media(max-width:768px) {
    .change-lang {
        text-align: center;
    }
}
.change-lang .lang {
    cursor: pointer;
    padding-right: 10px;
    display: inline-block;
}
.change-lang .lang.white-mode {
    display: none;
}
.white-mode-on .change-lang .lang {
    display: none;
}
.white-mode-on .change-lang .lang.white-mode {
    display: inline-block;
}
.change-lang .lang img {
    width: 20px
}
.change-lang .lang.active,
.change-lang .lang:hover {
    padding-top: 0px;
}
.change-lang .lang.active img,
.change-lang .lang:hover img {
    width: 30px;
}


.bootstrap-switch-grey {
    background: grey;
}